/* App.css can be used for any additional custom styles if needed */

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.shimmer-bg {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(90deg,
      rgba(250, 250, 250, 1) 0%,
      rgba(240, 253, 244, 1) 20%,
      rgba(250, 250, 250, 1) 40%,
      rgba(250, 250, 250, 1) 100%);
  background-size: 200% 100%;
  animation: shimmer 1.4s infinite linear;
}